/* Aqui pode ir CSS de body, H1, etc etc
Como está sendo utilizado o normalize
aqui pode ficar vazio por algum tempo
*/
@font-face {
  font-family: IM FELL English SC;
  src: local('IM FELL English SC'), url(../src/fonts/IM_Fell_English_SC/IMFellEnglishSC-Regular.ttf);
}


body {
  margin: 0;
  font-family: IM FELL English SC, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}